<% include ../partials/header %>

  <div class="container">
    <div class="row show">
      <div class="col-md-12">
        <h1 class="show-title"><%= blog.title.toUpperCase() %></h1>
        <span class="show-date"><%= blog.createdAt.toDateString() %></span>
        <p class="show-details"> You can now write your dynamic content here</p>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
