

<!--Navigation Menu  -->

<nav>
  <!-- //DESKTOP MENU -->
  <ul class="nav-menu">
    <li ><a href="/">Home</a></li>
    <li ><a href="/blog">blog</a></li>
    <li ><a href="/projects">Projects</a></li>
    <li ><a href="/resources">Resources</a></li>
  </ul>

  <!-- //MOBILE MENU -->
  <ul class="mobile-menu">
    <h1 class="mobile-menu-title">MS</h1>
    <span class="mobile-menu-hamburger"></span>
  </ul>

</nav>
