<% include ./partials/header %>


  <div class="intro row">
    <div class="col-md-6">
      <figure class="intro-img">
        <img src="/images/profilepic.jpg" alt="profile-picture-of-me">
      </figure>
    </div>


    <div class="col-md-6">
      <div class="intro-details">
        <h1 class="intro-details-title">I'm Mark Sarpong, <br/> FullStack JavaScript Developer </h1>
        <p class="intro-details-text">Love to build awesome stuff on the internet. Hire me to build your website or web application, teach you how to code or help you build your project. </p>
        <h3 class="intro-details-sub">Get in touch</h3>
          <div class="intro-details-icons row">
              <div class="col-md-12 col-xs-3">
                <a href="mailto:markus20@outlook.com" target="_blank"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
                <a href="https://github.com/Markus1607" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                <a href="https://codepen.io/Markus1607/" target="_blank"><i class="fa fa-codepen fa-3x" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/mark-sarpong-7b397411a/?trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
              </div>
        </div>
      </div>
    </div>
  </div>


<% include ./partials/footer %>
