<% include ./partials/header.ejs %>


  <div class="container">
    <div class="row projects">
        <div class="col-md-12">
          <div class="projects-title">
            FRONT-END PROJECTS
          </div>
          <div class="row projects-container">
            <div class="col-md-5">
              <figure  class="projects-work">
                <img src="/images/restaurant.jpg" alt="">
              </figure>
              <div class="overlay">
                <span class="overlay-details">Hackathon Flexbox Challenge</span>
                <a href="" class="overlay-button" >Get Source Code</a></div>
            </div>
            <div class="col-md-5">
              <figure class="projects-work">
                <img src="/images/china.jpg" alt="">
              </figure>
              <div class="overlay">
                <span class="overlay-details">Web Template built with React, Node &amp; Sass</span>
                <a href="" class="overlay-button">Get Source Code</a>
              </div>
            </div>
          </div>
          <div class="projects-title2">
            CREATIVE WORK
          </div>
          <div class="row">
            <div class="col-md-6 pens">
              <iframe src="https://codepen.io/Markus1607/embed/NjjMeE" frameborder="0" height="300px" width="500px"></iframe>
              <div class="details">Scroll Page Indicator</div>
            </div>
            <div class="col-md-6 pens">
              <iframe src="https://codepen.io/Markus1607/embed/JNxjyK" frameborder="0" height="300px" width="500px"></iframe>
              <div class="details">React Video Header</div>
            </div>
          </div>
        </div>
    </div>
  </div>


<% include ./partials/footer.ejs %>
