@import url('https://fonts.googleapis.com/css?family=Raleway:400,700')

$font-family: 'Raleway', sans-serif
$big-font: 900
$medium-font: 700
$small-font: 400




body
  font-family: $font-family
  background-color: #fff

  box-sizing: border-box
  font-smoothing: antialiased
  margin: 0
  padding: 0


.container
  width: 60%
  height: auto


nav
  background: #6E7377
  margin: 0
  padding: 0
  box-shadow: 0px 0px 2px #eee, 0px 0px 4px #000


.mobile-menu
  //width: 80%
  display: none
  align-content: center
  margin-right: auto
  margin-left: auto
  justify-content: space-around
  color: #fff

  &-title
    font-size: 30px

  @media screen and (max-width: 763px)
    display: flex
  &-hamburger
    width: 50px
    height: 5px
    background: #fff
    align-self: center
    &::before, &::after
      position: absolute
      content: " "
      width: 50px
      height: 5px
      background: #fff

    &::before
      top: 42px
    &::after
      top: 71px





.nav-menu
  display: flex
  justify-content: space-around
  align-items: center
  font-weight: bold
  font-size: 20px
  width: 60%
  text-align: center
  margin-right: auto
  margin-left: auto
  padding: 20px 0
  margin-top: 0
  text-transform: uppercase
  @media screen and (max-width: 763px)
    display: none
  li
    list-style: none
  a
    text-decoration: none
    color: #fff




@import "./partials/intro"
@import "./partials/projects"
@import "./partials/blog"
@import "./partials/show"
@import "./partials/resources"
